#homePageDiv {
    background-color: rgb(26, 25, 25);
    height: 100vh;
    top: 0px;
}

#title {
    color: white;
    margin-top: 0px;
}

#titleDiv {
    background-color: rgb(41, 40, 40);
    height: 5%;
}

.runwayIndividual {
    background-color: rgb(41, 40, 40);
    position:absolute;
    border:2px solid;
    margin: 1%;
    padding:5px;
    color:white;
    width: 47.5%;
    font-size: 2.5vw;
    height: 45.5%;
}

#runwayDiv {
    position:relative;
    border:3px solid blue;
    height: 94%;
    padding:0;
}

#runwayOne {
    border-color:green;
    top:0;
    left:0; 
}

#runwayTwo {
    border-color:red;
    top:0;
    right:0;
}

#runwayThree {
    border-color:yellow;
    bottom:0;
    left:0;
}

#runwayFour {
    border-color:pink;
    bottom:0;
    right:0;
}