#homePageDiv {
    background-color: rgb(26, 25, 25);
    height: 100vh;
    top: 0px;
}

#title {
    color: white;
    margin-top: 0px;
}

#titleDiv {
    background-color: rgb(41, 40, 40);
    height: 5%;
}

.runwayIndividual {
    background-color: rgb(41, 40, 40);
    position:absolute;
    margin: 1%;
    padding:1px;
    color:white;
    width: 48.5%;
    font-size: 2.5vw;
    height: 47%;
    border-radius: 10px;
}

#runwayDiv {
    position:relative;
    height: 94%;
    padding:0;
}

#runwayOne {
    top:0;
    left:0; 
}

#runwayTwo {
    top:0;
    right:0;
}

#runwayThree {
    bottom:0;
    left:0;
}

#runwayFour {
    bottom:0;
    right:0;
}